---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238/images?api_key=api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 5a3a071b61852f92573f577999fabb68
      X-Memc-Age:
      - '6175'
      X-Memc-Expires:
      - '20422'
      Etag:
      - W/"9e76a362e91d7e62ba83f752ca26aeed"
    body:
      encoding: ASCII-8BIT
      string: '{"backdrops":[{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","vote_average":5.516,"vote_count":16,"width":3840},{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg","vote_average":5.46,"vote_count":21,"width":3840},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/AbgEQO2mneCSOc8CSnOMa8pBS8I.jpg","vote_average":5.388,"vote_count":4,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/jdHsptJbtalEuVhCV5i7kSC3g0x.jpg","vote_average":5.384,"vote_count":2,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238?api_key=api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 9d48db5c244b9c3e3d162ef155211175
      X-Memc-Age:
      - '83'
      X-Memc-Expires:
      - '22841'
      Etag:
      - W/"fca5e3555e619db2ab8c7c30c82b3d74"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","belongs_to_collection":{"id":230,"name":"The
        Godfather Collection","poster_path":"/zqV8MGXfpLZiFVObLxpAI7wWonJ.jpg","backdrop_path":"/3WZTxpgscsmoUk81TuECXdFOD0R.jpg"},"budget":6000000,"genres":[{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"http://www.thegodfather.com/","id":238,"imdb_id":"tt0068646","original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
        of bloody revenge.","popularity":123.773,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","production_companies":[{"id":4,"logo_path":"/gz66EfNoYPqHTYI4q9UEN4CbHRc.png","name":"Paramount","origin_country":"US"},{"id":10211,"logo_path":null,"name":"Alfran
        Productions","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1972-03-14","revenue":245066411,"runtime":175,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Italian","iso_639_1":"it","name":"Italiano"},{"english_name":"Latin","iso_639_1":"la","name":"Latin"}],"status":"Released","tagline":"An
        offer you can''t refuse.","title":"The Godfather","video":false,"vote_average":8.709,"vote_count":18483}'
  recorded_at: Fri, 25 Aug 2023 19:14:33 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/t/p/w1280//3bhkrj58Vtu7enYsRolD1fZdja1.jpg?api_key=api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Fri, 25 Aug 2023 19:15:06 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/t/p/w1280/3bhkrj58Vtu7enYsRolD1fZdja1.jpg?api_key=api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Fri, 25 Aug 2023 19:22:35 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3bhkrj58Vtu7enYsRolD1fZdja1.jpg?api_key=api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 25 Aug 2023 20:53:03 GMT
[...]
- request:
    method: get
    uri: https://image.tmdb.org/3bhkrj58Vtu7enYsRolD1fZdja1.jpg?api_key=api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Last-Modified:
      - Thu, 08 Apr 2021 15:54:44 GMT
      Etag:
      - W/"653e955073f6ff68f1e0cfa5a613ef75"
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html>
        <html lang="en">
        <head>
          <title>File Not Found - The Movie Database (TMDb)</title>
          <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
          <meta http-equiv="cleartype" content="on">
          <meta charset="utf-8">
          <meta name="mobile-web-app-capable" content="yes">
          <meta name="apple-mobile-web-app-capable" content="yes">
          <meta name="HandheldFriendly" content="True">
          <meta name="MobileOptimized" content="320">
          <meta name="viewport" content="width=1120">
          <style>
            html {--lightGrey: 227, 227, 227;--tmdbDarkBlue: 3, 37, 65;--tmdbLightBlue: 1, 180, 228;--tmdbLighterGreen: 192, 254, 207;--tmdbLightGreen: 30, 213, 169;--maxPrimaryPageWidth: 1400px;}
            html, body {width: 100%;height: 100%;font-size: 100%;}
            body {display: flex;flex-direction: column;min-height: 100%;height: auto;-ms-overflow-style: -ms-autohiding-scrollbar;background-color: rgba(var(--tmdbDarkBlue), 1);color: #000;font-family: 'Source Sans Pro', Arial, sans-serif;font-size: 1em;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale;}
            .page_wrap {display: flex;flex: 1 1 auto;min-height: 100%;height: auto;position: relative;top: 0;left:0;justify-content:center;align-items:center;}
            .card {box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);border: 1px solid rgba(var(--lightGrey), 1);background-color:#fff;display:flex;flex-wrap:wrap;width:500px;padding:20px;border-radius:20px}
            .header{width:100%;display:flex;padding-bottom:20px}
            .card h2 {margin:0;display:inline-flex;align-items:center}
            .card p:first-of-type{padding-top:8px}
            .card p:last-child{margin-bottom:0}
          </style>
        </head>
        <body class="en">
          <div class="page_wrap">
            <div class="card">
              <div class="header">
                <img src="https://www.themoviedb.org/assets/2/apple-touch-icon-cfba7699efe7a742de25c28e08c38525f19381d31087c69e89d6bcb8e3c0ddfa.png" width="60" height="60">
              </div>
              <h2>File Not Found</h2>
            </div>
          </div>
        </body>
        </html>
  recorded_at: Fri, 25 Aug 2023 20:57:06 GMT
[...]
- request:
    method: get
    uri: https://image.tmdb.org/3bhkrj58Vtu7enYsRolD1fZdja1.jpg?api_key=api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Cdn-Pullzone:
      - '775336'
      Cdn-Uid:
      - 29af4e0e-bcbd-4fcb-8635-74ddc38a1ebf
      Cdn-Requestcountrycode:
      - US
      Etag:
      - W/"653e955073f6ff68f1e0cfa5a613ef75"
      Last-Modified:
      - Thu, 08 Apr 2021 15:54:44 GMT
      Perma-Cache:
      - MISS
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '404'
      Cdn-Cachedat:
      - '08/25/2023 20:59:14'
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '404'
      Cdn-Requestid:
      - cd7304de45f520dc801c54c0477090fd
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: |-
        <!DOCTYPE html>
        <html lang="en">
        <head>
          <title>File Not Found - The Movie Database (TMDb)</title>
          <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
          <meta http-equiv="cleartype" content="on">
          <meta charset="utf-8">
          <meta name="mobile-web-app-capable" content="yes">
          <meta name="apple-mobile-web-app-capable" content="yes">
          <meta name=[...]
[...]
