---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?query=The%20Godfather
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DONT_LOOK_AT_MY_JUNK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 56a64f47f8106d7619e8171cd39534d0
      X-Memc-Age:
      - '12144'
      X-Memc-Expires:
      - '9456'
      Etag:
      - W/"3ff909ef2c542db549cc8c3666c5072c"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","genre_ids":[18,80],"id":238,"original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
        of bloody revenge.","popularity":129.885,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","release_date":"1972-03-14","title":"The
        Godfather","video":false,"vote_average":8.712,"vote_count":17640},{"adult":false,"backdrop_path":"/kGzFbGhp99zva6oZODW5atUtnqi.jpg","genre_ids":[18,80],"id":240,"original_language":"en","original_title":"The
        Godfather Part II","overview":"In the continuing saga of the Corleone crime
        family, a young Vito Corleone grows up in Sicily and in 1910s New York. In
        the 1950s, Michael Corleone attempts to expand the family business into Las
        Vegas, Hollywood and Cuba.","popularity":80.308,"poster_path":"/hek3koDUyRQk7FIhPXsa6mT2Zc3.[...]
