<h1>Discover Movies</h1>

<div id="top_movies">
  <%= button_to "Discover Top Rated Movies", "/users/#{@user.id}/movies", params: {q: 'top_rated'}, method: :get %>
</div>
<div id="search_movies">
<%= form_tag("/users/#{@user.id}/movies", method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Find Movies") %>
<% end %>
</div>