---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/11?api_key=c5d87ff6f6c9e5b4d80f024fe25ecdf9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 5dfd93b8685f3044b4e3a03ef882eddf
      X-Memc-Age:
      - '1343'
      X-Memc-Expires:
      - '22256'
      Etag:
      - W/"de6b8483b176e09dcd5936b00a3ffebd"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/4qCqAdHcNKeAHcK8tJ8wNJZa9cx.jpg","belongs_to_collection":{"id":10,"name":"Star
        Wars Collection","poster_path":"/gq5Wi7i4SF3lo4HHkJasDV95xI9.jpg","backdrop_path":"/zZDkgOmFMVYpGAkR9Tkxw0CRnxX.jpg"},"budget":11000000,"genres":[{"id":12,"name":"Adventure"},{"id":28,"name":"Action"},{"id":878,"name":"Science
        Fiction"}],"homepage":"http://www.starwars.com/films/star-wars-episode-iv-a-new-hope","id":11,"imdb_id":"tt0076759","original_language":"en","original_title":"Star
        Wars","overview":"Princess Leia is captured and held hostage by the evil Imperial
        forces in their effort to take over the galactic Empire. Venturesome Luke
        Skywalker and dashing captain Han Solo team together with the loveable robot
        duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and
        justice in the Empire.","popularity":97.011,"poster_path":"/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg","production_companies":[{"id":1,"logo_path":"/o86DbpburjxrqAzEDhXZcyE8pDb.png","name":"Lucasfilm
        Ltd.","origin_country":"US"},{"id":25,"logo_path":"/qZCc1lty5FzX30aOCVRBLzaVmcp.png","name":"20th
        Century Fox","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1977-05-25","revenue":775398007,"runtime":121,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A
        long time ago in a galaxy far, far away...","title":"Star Wars","video":false,"vote_average":8.204,"vote_count":19354}'
  recorded_at: Sat, 02 Dec 2023 00:18:11 GMT
[...]
