---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/808
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 1bdde716b8ccdf3e1a1b53e3dcdef291
      X-Memc-Age:
      - '224'
      X-Memc-Expires:
      - '27724'
      Etag:
      - W/"132ac8d3c9677fdf8763d18a3520bab4"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/sRvXNDItGlWCqtO3j6wks52FmbD.jpg","belongs_to_collection":{"id":2150,"name":"Shrek
        Collection","poster_path":"/qNHZMe92A7Pyl46qUH29hVOtbSK.jpg","backdrop_path":"/gMWrKQjoTIpYjhc8SxZF20EDIES.jpg"},"budget":60000000,"genres":[{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":14,"name":"Fantasy"},{"id":12,"name":"Adventure"},{"id":10751,"name":"Family"}],"homepage":"http://www.dreamworksanimation.com/shrek/","id":808,"imdb_id":"tt0126029","original_language":"en","original_title":"Shrek","overview":"It
        ain''t easy bein'' green -- especially if you''re a likable (albeit smelly)
        ogre named Shrek. On a mission to retrieve a gorgeous princess from the clutches
        of a fire-breathing dragon, Shrek teams up with an unlikely compatriot --
        a wisecracking donkey.","popularity":128.718,"poster_path":"/dyhaB19AICF7TO7CK2aD6KfymnQ.jpg","production_companies":[{"id":7,"logo_path":"/vru2SssLX3FPhnKZGtYw00pVIS9.png","name":"DreamWorks
        Pictures","origin_country":"US"},{"id":520,"logo_path":"/pU7YTI9FfrICurXpl5V9TfCO0oJ.png","name":"Pacific
        Data Images","origin_country":"US"},{"id":521,"logo_path":"/kP7t6RwGz2AvvTkvnI1uteEwHet.png","name":"DreamWorks
        Animation","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2001-05-18","revenue":487853320,"runtime":90,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"The
        greatest fairy tale never told.","title":"Shrek","video":false,"vote_average":7.732,"vote_count":15979}'
  recorded_at: Wed, 29 Nov 2023 22:32:20 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 29 Nov 2023 22:32:21 GMT
recorded_with: VCR 6.2.0
