<div style="text-align: center;">
  <% if current_user %>
    <h1>Existing Users</h1>
    <% @users.each do |user| %>
      <p><%= user.email %></p>
    <% end %><br>
  <% else %>
    <div id="create-user">
      <%= button_to "Create User", "/register", method: :get %>
    </div>
  <% end %>
</div>
