---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 57417294faa18214443f9153c21a0cc4
      X-Memc-Age:
      - '14296'
      X-Memc-Expires:
      - '8794'
      Etag:
      - W/"170510d57e1ca920cd5a7ece533852f8"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/dQL2wJZo05GDd21VgOacMeCuyZy.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":18,"name":"Drama"},{"id":35,"name":"Comedy"},{"id":10749,"name":"Romance"},{"id":80,"name":"Crime"}],"homepage":"","id":2,"imdb_id":"tt0094675","original_language":"fi","original_title":"Ariel","overview":"After
        the coal mine he works at closes and his father commits suicide, a Finnish
        man leaves for the city to make a living but there, he is framed and imprisoned
        for various crimes.","popularity":22.921,"poster_path":"/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg","production_companies":[{"id":2303,"logo_path":null,"name":"Villealfa
        Filmproductions","origin_country":"FI"}],"production_countries":[{"iso_3166_1":"FI","name":"Finland"}],"release_date":"1988-10-21","revenue":0,"runtime":73,"spoken_languages":[{"english_name":"Finnish","iso_639_1":"fi","name":"suomi"}],"status":"Released","tagline":"","title":"Ariel","video":false,"vote_average":7.057,"vote_count":283}'
  recorded_at: Wed, 13 Dec 2023 00:10:09 GMT
[...]
