---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API_KEY_AUTH>&language=en-US&page=1&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - dee9518e4c01cd7a94ab9b4fed2458d8
      X-Memc-Age:
      - '12024'
      X-Memc-Expires:
      - '14618'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Wed, 23 Aug 2023 15:07:58 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API_KEY_AUTH>&language=en-US&page=1&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - dee9518e4c01cd7a94ab9b4fed2458d8
      X-Memc-Age:
      - '12024'
      X-Memc-Expires:
      - '14618'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Wed, 23 Aug 2023 15:08:02 GMT
recorded_with: VCR 6.2.0
