---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/346698?api_key=<TMDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - ab725685a412ebde1f4cc51e32752141
      X-Memc-Age:
      - '8441'
      X-Memc-Expires:
      - '14023'
      Etag:
      - W/"441cdda54d5e4a2e9f5161a25a748ced"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/ctMserH8g2SeOAnCw5gFjdQF8mo.jpg","belongs_to_collection":null,"budget":145000000,"genres":[{"id":35,"name":"Comedy"},{"id":12,"name":"Adventure"},{"id":14,"name":"Fantasy"}],"homepage":"https://www.barbie-themovie.com","id":346698,"imdb_id":"tt1517268","original_language":"en","original_title":"Barbie","overview":"Barbie
        and Ken are having the time of their lives in the colorful and seemingly perfect
        world of Barbie Land. However, when they get a chance to go to the real world,
        they soon discover the joys and perils of living among humans.","popularity":367.147,"poster_path":"/iuFNMS8U5cb6xfzi51Dbkovj7vM.jpg","production_companies":[{"id":82968,"logo_path":"/gRROMOG5bpF6TIDMbfaa5gnFFzl.png","name":"LuckyChap
        Entertainment","origin_country":"US"},{"id":437,"logo_path":"/nu20mtwbEIhUNnQ5NXVhHsNknZj.png","name":"Heyday
        Films","origin_country":"GB"},{"id":181486,"logo_path":null,"name":"NB/GG
        Pictures","origin_country":"US"},{"id":6220,"logo_path":"/cAj69EL1zSXmZH6STbMGZrunyMD.png","name":"Mattel","origin_country":"US"},{"id":174,"logo_path":"/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png","name":"Warner
        Bros. Pictures","origin_country":"US"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2023-07-19","revenue":1441800000,"runtime":114,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"She''s
        everything. He''s just Ken.","title":"Barbie","video":false,"vote_average":7.2,"vote_count":6092}'
  recorded_at: Sat, 02 Dec 2023 04:10:22 GMT
recorded_with: VCR 6.2.0
