---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/346698/images?api_key=<TMDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - a1e7972e0d4fa2d87d4d671e79b23205
      X-Memc-Age:
      - '7035'
      X-Memc-Expires:
      - '21191'
      Etag:
      - W/"ae92bfcf4a3051bb1d553fbf9af5eac3"
    body:
      encoding: ASCII-8BIT
      string: '{"backdrops":[{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/ctMserH8g2SeOAnCw5gFjdQF8mo.jpg","vote_average":5.596,"vote_count":38,"width":3840},{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/nHf61UzkfFno5X1ofIhugCPus2R.jpg","vote_average":5.506,"vote_count":38,"width":3840},{"aspect_ratio":1.778,"height":2070,"iso_639_1":null,"file_path":"/tTfnd2VrlaZJSBD9HUbtSF3CqPJ.jpg","vote_average":5.464,"vote_count":49,"width":3680},{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/1esAE8sLJRWWFsLLeh5r3g2WanI.jpg","vote_average":5.458,"vote_count":17,"width":3840},{"aspect_ratio":1.778,"height":2160,"iso_[...]
