---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=moviedb_api_key&language=en-US&query=%27asldkgjawof%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 9f111d0fcb20880ec2cc43768c684c84
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '28216'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Fri, 12 May 2023 01:23:37 GMT
recorded_with: VCR 6.1.0
