---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API_KEY>&query=asdlfkjasdlfkjasdlfkj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 76ed7913aca63dfddb8710d2ff1b0f56
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '23356'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Sat, 14 Oct 2023 21:37:34 GMT
recorded_with: VCR 6.2.0
