{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/926393/credits?api_key=DONT_SHARE_MY_TMDB_KEY",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "6323796468069f03c2d4a822e947f429"
          ],
          "X-Memc-Age": [
            "12768"
          ],
          "X-Memc-Expires": [
            "13499"
          ],
          "Etag": [
            "W/\"4ec5b3ca0126f12be1568e59570c4b8c\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":926393,\"cast\":[{\"adult\":false,\"gender\":2,\"id\":5292,\"known_for_department\":\"Acting\",\"name\":\"Denzel Washington\",\"original_name\":\"Denzel Washington\",\"popularity\":57.865,\"profile_path\":\"/jj2Gcobpopokal0YstuCQW0ldJ4.jpg\",\"cast_id\":1,\"character\":\"Robert McCall\",\"credit_id\":\"61df4d6bc525c400423c2a30\",\"order\":0},{\"adult\":false,\"gender\":1,\"id\":501,\"known_for_department\":\"Acting\",\"name\":\"Dakota Fanning\",\"original_name\":\"Dakota Fanning\",\"popularity\":87.623,\"profile_path\":\"/fXxfYh0NoTiyedRwZPNqBMdz3Eh.jpg\",\"cast_id\":3,\"character\":\"Emma Collins\",\"credit_id\":\"62aa2bcacba36f00a8305f2e\",\"order\":1},{\"adult\":false,\"gender\":2,\"id\":1147420,\"known_for_department\":\"Acting\",\"name\":\"Eugenio Mastrandrea\",\"original_name\":\"Eugenio Mastrandrea\",\"popularity\":13.195,[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/926393/reviews?api_key=DONT_SHARE_MY_TMDB_KEY",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "9b658e3b4ae8d999b9921da85c3c3595"
          ],
          "X-Memc-Age": [
            "7295"
          ],
          "X-Memc-Expires": [
            "19219"
          ],
          "Etag": [
            "W/\"843caec4f7406baefa8816cb62804ce2\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":926393,\"page\":1,\"results\":[{\"author\":\"CinemaSerf\",\"author_details\":{\"name\":\"CinemaSerf\",\"username\":\"Geronimo1967\",\"avatar_path\":\"/1kks3YnVkpyQxzw36CObFPvhL5f.jpg\",\"rating\":6.0},\"content\":\"Anyone remember the little tune that went with the Edward Woodward television series? Well you won't hear it here in this rather procedural vehicle for Denzel Washington. His usually meticulous planning is compromised by a young lad with a rifle. This leaves \\\"McCall\\\" needing the care of a doctor \\\"Enzo\\\" (Remo Girone) in a small Sicilian town that is about to become the centre of the venal ambitions of \\\"Vincent\\\" (Andrea Scarduzio) and his henchman younger brother \\\"Marco\\\" (Andrea Dodero) who uses his team of thugs to extort from the local businesses. It's only a matter of time before heads clash and, well - you can guess the rest of this actually rather brutally predictable drama. Dakota Fanning appears now and again in a rather unnecessary sub-plot involving the CIA and some Syrian narcotics smugglers that is really undercooked - but for the most part this is really just Denzel being, well, Denzel on his quest to save his new-found friends from the grip of the unscrupulous Camorra. It's overlong for what it is, and I found Washington's performance to be rather sluggish throughout before a denouement that came across as rather simplistically rushed. It's fine, but forgettable.\",\"created_at\":\"2023-08-31T09:25:28.079Z\",\"id\":\"64f05c8877d23b010d6b9d83\",\"updated_at\":\"2023-08-31T09:25:28.205Z\",\"url\":\"https://www.themoviedb.org/review/64f05c8877d23b010d6b9d83\"},{\"author\":\"MovieGuys\",\"author_details\":{\"name\":\"\",\"username\":\"MovieGuys\",\"avatar_path\":null,\"rating\":4.0},\"content\":\"The new Equalizer film franchise is devoid of the moderation, charm and gentlemanly grace of the original television series, with Edward Woodward.\\r\\n\\r\\ninstead, its mired in gratuitous, humiliating, dehumanising violence, with a key character who feels more like the Terminator, than an assassin with a conscience. In short its ugly stuff. I managed about 15 minutes of this, before calling it a day. I will say too, for me, this kind of unnecessarily violent nonsense, is part of whats wrong with the world today. \\r\\n\\r\\nIn summary, brutally violent, ugly and inaccessible. I'll pass.\",\"created_at\":\"2023-10-05T02:56:07.891Z\",\"id\":\"651e25c78c22c0010364e4f2\",\"updated_at\":\"2023-10-05T21:12:09.705Z\",\"url\":\"https://www.themoviedb.org/review/651e25c78c22c0010364e4f2\"}],\"total_pages\":1,\"total_results\":2}"
        }
      },
      "recorded_at": "Sat, 14 Oct 2023 00:04:07 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}