"Viewing Party Application (Andra and Hady)"

<%= button_to "Create New User", "/users/new", method: :get %>

<div id="existing_users">
  <h2> Existing Users and Their Dashboards </h2>
  <%@users.each do |user|%>
  <p><%=user.name%> <%=link_to "#{user.name}'s Dashboard", "/users/#{user.id}/dashboard"%> </p>
  <%end%>
</div>
