
<p><%= button_to "Create New User", "/register", method: :get %></p><br>
<p><%= link_to "Log In", "/login", method: :get %></p><br>

<h3> Existing Users </h3>

<% @users.each do |user| %>
  <%= link_to user.email, "/users/#{user.id}" %><br>
<% end %>
