<ul>
  <% if search == "top_20rated" %>
    <% movies.each do |movie| %>
      <li><%= link_to movie.title, user_movie_path(user, movie) %>, <%= movie.rating %></li>
    <% end %>
  <% elsif search == "keywords" %>
    <% movies.each do |movie| %>
      <li><%= link_to movie.title, user_movie_path(user, movie) %>, <%= movie.rating %></li>
    <% end %>
  <% end %>
</ul>
