<% @movies.each do |movie| %>
  <div id=<%= movie.id %>>
    <div>
      <%= link_to movie.title, movie_path(movie.id) %>
    </div>
    <div>
      <%= movie.vote_average %>
    </div>
  </div>
<% end %>