<h2>Discover Movies</h2>

<%= form_with url: user_movies_path(@user), method: :get do |form| %>
  <%= form.hidden_field :q, value: "top 20rated" %>
  <%= form.submit "Find Top Rated Movies"%>
<% end %>

