<p><%= button_to "Discover Movies", user_discover_index_path(@user), method: :get %></p>
<div id="movies">
  <ul>
    <% @movie_facade.retrieve_movies.each do |movie| %>
      <p>
          <%= link_to movie.title, user_movie_path(@user, movie.id) %> &emsp; Vote Average: <%= movie.vote_average.round(1) %>
      </p>
    <% end %>
  </ul>
</div>