<ol type="1">
<% @movies.each do |movie| %>
<div id="movie-<%=movie.id%>">
  <h4><li><%= link_to "#{movie.title}", user_movie_path(@user, movie.id), method: :get %></li></h4>
  <li><%=movie.vote_average%></li>
</div>
<% end %>
</ol>

<%= button_to "Return to Discover", user_discover_index_path(@user), method: :get %>
