<%= link_to "Discover Page", "users/#{@user.id}/discover" %>
<br>
<br>
<% @movies.each do |movie| %>
  <%= link_to movie.title, user_movie_path(@user.id, movie.id) %>
  <br>
  <p> Movie Rating <%= movie.vote_average %> </p>
  <br>
  <br>
  <br>
<% end %>