<% @movies.each do |movie| %>
<div id="movies">
    <div id="movie-<%=movie.id%>">
      <h4>Movie Title: <li><%= link_to "#{movie.title}", "/users/#{@user.id}/movies/#{movie.id}", method: :get %></li></h4>
      <li>Vote Average: <%= movie.vote_average %>
    </div>
  </div>
  <% end %>

<%= button_to "Return to Discover", "/users/#{@user.id}/discover", method: :get %>
