<br><%= link_to "Movie Discover Page", "/users/#{@user.id}/discover", method: :get %>
<h2> Movies watched </h2>

<h2> Top Rated Movies </h2>
<% @facade.details.each do |movie| %>
  <p>
  Movie: <%= movie.title %> <br>
  Popularity: <%= movie.popularity %> <br>
  <p>
<% end %>
