<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
  <div class="movie_results">
    <% @movies_facade.movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, user_movie_path(@user, movie.id) %></td>
        <td><%= movie.vote_average %></td>
      </tr>
    <% end %>
  </div>
  </tbody>
</table>

<p><%= button_to "Back to Discover", discover_user_path(@user), method: :get %></p>


