
<h2>Top Rated Movies</h2>

<%= button_to "Discover Page", user_discover_index_path(@user), local: true %>

<% @top_rated_movies.each do |movie| %>
  <h3>Title: <%= link_to "#{movie.title}", local: true %></h3>
  <p>Vote Average: <%= movie.vote_average %></p>
<% end %>
