<h3>Top Rated Movies</h3>
<ul id='top_movies'>
  <% @movies.each do |movie| %>
    <li><%= link_to "#{movie.title}", movie_path(movie.id) %> Vote Average: <%= movie.vote_average %></li>
  <% end %>
</ul>
  