<%= button_to 'Discover Page', user_discover_index_path(@user), method: :get %>

<div class="movies">
  <% @movies.each do |movie| %>
    <div class="movie">
      <div class="title"><%= movie[:title] %></div>
      <div class="vote-average"><%= movie[:vote_average] %></div>
    </div>
  <% end %>
</div>