<p> <%= button_to "Discover Movies", discover_index_path, method: :get %> </p>
<h2>Movies<% @movies.each do |movie| %></h2>
  <p><%= link_to movie.title, movie_path(movie.id)%> <%= "Vote Average: #{movie.vote_average}" %> </p>
<% end %>