<% if @facade.search == "keywords" %>
  <h3>Movie results for: <%= @facade.keywords %></h3>
<% end %>

<%= button_to "Discover Page", user_discover_path(@user.id), method: :get %>

<ul>
  <% @facade.movie_results.each do |movie| %>
      <li>
        <%= link_to movie.title, user_movie_path(@user.id, movie.id) %>, <%= movie.rating %>
      </li>
  <% end %>
</ul>
