<%= button_to "Discover Movies", user_discover_path(@user.id), method: :get %>

<ul>
  <% @facade.top_20_rated.each do |movie| %>
    <li><%= movie.title %>, <%= movie.rating %></li>
  <% end %>
</li>