<%= render partial: "shared/nav" %>


<h1>Movies Results Page</h1><br><br>
<% @facade.top_movies.each do |movie| %>
    <br>
    <ul class="movie" >
    <li class="title"><%= movie.title %></li>
    <li class="vote_average"><%= movie.vote_average %></li>
    </ul>
    <br>
<% end %>

