<%= link_to "Return to Discover Page", "/users/#{params[:id]}/discover"  %><br>

<h3>Results</h3>

<% @movies.each do |movie| %>
  <%= movie.title %>
  <%= movie.vote_average.round(1) %><br>
<% end %>