<h1><%=@facade.movie.title%>'s Detail Page</h1>
<%= button_to "Create Viewing Party", new_user_movie_viewing_party_path(@facade.user, @facade.movie), method: :get%>

<%=button_to "Return to Discover Page", user_movies_discover_path(@facade.user)%>