<p> <%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %> </p>
<p> <%= button_to "Create Viewing Party", "/users/#{@user.id}/movies/#{@movies.id}/viewing-party/new", method: :get %> </p>