<h1> Viewing Party </h1>
<h2><%= @movie.title %></h2>

<%= button_to "Discover Page", user_discover_index_path(@user), method: :get%>
<%= button_to "Create Viewing Party for #{@movie.title}", new_user_movie_viewing_party_path(@user, @movie.id), method: :get %>

<p>Vote: <%= @movie.vote_average %></p>
