---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238?api_key=e385578ab01fe734e045aab1091acf8c&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 9d48db5c244b9c3e3d162ef155211175
      X-Memc-Age:
      - '22273'
      X-Memc-Expires:
      - '5079'
      Etag:
      - W/"07c6d081a4ad84ebc54d67b2ca1a7b71"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","belongs_to_collection":{"id":230,"name":"The
        Godfather Collection","poster_path":"/zqV8MGXfpLZiFVObLxpAI7wWonJ.jpg","backdrop_path":"/3WZTxpgscsmoUk81TuECXdFOD0R.jpg"},"budget":6000000,"genres":[{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"http://www.thegodfather.com/","id":238,"imdb_id":"tt0068646","original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
        of bloody revenge.","popularity":120.233,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","production_companies":[{"id":4,"logo_path":"/gz66EfNoYPqHTYI4q9UEN4CbHRc.png","name":"Paramount","origin_country":"US"},{"id":10211,"logo_path":null,"name":"Alfran
        Productions","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1972-03-14","revenue":245066411,"runtime":175,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Italian","iso_639_1":"it","name":"Italiano"},{"english_name":"Latin","iso_639_1":"la","name":"Latin"}],"status":"Released","tagline":"An
        offer you can''t refuse.","title":"The Godfather","video":false,"vote_average":8.708,"vote_count":18740}'
  recorded_at: Fri, 13 Oct 2023 01:52:00 GMT
[...]
