---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TMDB_AUTH>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Sat, 08 Jul 2023 14:26:31 GMT
recorded_with: VCR 6.2.0
