---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<api_key>&include_adult=false&language=en-US&page=1&query=Pulp%20Fiction
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 43d54f129d8b141d8d83d4e8dfeac7bf
      X-Memc-Age:
      - '20266'
      X-Memc-Expires:
      - '1597'
      Etag:
      - W/"ad60d271ea198bc7db4b32a434b44c35"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg","genre_ids":[53,80],"id":680,"original_language":"en","original_title":"Pulp
        Fiction","overview":"A burger-loving hit man, his philosophical partner, a
        drug-addled gangster''s moll and a washed-up boxer converge in this sprawling,
        comedic crime caper. Their adventures unfurl in three stories that ingeniously
        trip back and forth in time.","popularity":61.481,"poster_path":"/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg","release_date":"1994-09-10","title":"Pulp
        Fiction","video":false,"vote_average":8.491,"vote_count":25119},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":982376,"original_language":"en","original_title":"Pulp
        Fiction: the Facts","overview":"Behind the scenes of the legendary classic
        film by Quentin Tarantino.","popularity":0.976,"poster_path":"/ylcMrUkiAxAReHw8HNbVl0Bkdq5.jpg","release_date":"","title":"Pulp
        Fiction: the Facts","video":false,"vote_average":0.0,"vote_count":0},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":1104402,"original_language":"en","original_title":"Stealing
        Pulp Fiction","overview":"It follows Jonathan, Elizabeth and Steve as they
        try to steal [...]
[...]
