<h1>Create A New Viewing Party:</h1>
<h3><%= @movie.original_title %></h3>
</br>
<h3>Movie Details:</h3>
<div id="movie">
  <p>vote average</p>
  <p>Runtime</p>
  <p>Genre(s)</p>
  <p>Summary Description</p>
  <p>List of first 10 cast</p>
  <p>Review Count</p>
  <p>Review Author and information</p>
</div>