<%= button_to "Discover", user_discover_path(@user) , method: :get%>

<div id="movies">
  <% @movies.each do |movie| %>
    <ul>
      <li> <%= movie.title %> -- Vote Average: <%= movie.vote_average %> </li>
    </ul>
  <% end %>
</div>