---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_V4_TOKEN>
      Content-Type:
      - application/json;charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0ad04c4a8f86817194f97d0815bf2d05
      X-Memc-Age:
      - '7062'
      X-Memc-Expires:
      - '19828'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Wed, 10 May 2023 22:29:31 GMT
recorded_with: VCR 6.1.0
