---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?maxResults=20&query=tobacco%20and%20worms%20for%20breakfast
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <MOVIEDB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - c18cd1b5cc643477bb84314004a3986e
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Thu, 23 Mar 2023 00:49:39 GMT
recorded_with: VCR 6.1.0
