---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?query=god
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DONT_LOOK_AT_MY_JUNK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - cee379585b21e6027af8a75295cd16be
      X-Memc-Age:
      - '18160'
      X-Memc-Expires:
      - '3440'
      Etag:
      - W/"9dab0953deb67635e64eeaf633642b6e"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/5HpDmq6nWTRCcvRynYKqgfLtqMb.jpg","genre_ids":[28,35,14],"id":594767,"original_language":"en","original_title":"Shazam!
        Fury of the Gods","overview":"Billy Batson and his foster siblings, who transform
        into superheroes by saying \"Shazam!\", are forced to get back into action
        and fight the Daughters of Atlas, who they must stop from using a weapon that
        could destroy the world.","popularity":888.706,"poster_path":"/3GrRgt6CiLIUXUtoktcv1g2iwT5.jpg","release_date":"2023-03-15","title":"Shazam!
        Fury of the Gods","video":false,"vote_average":6.752,"vote_count":316},{"adult":false,"backdrop_path":null,"genre_ids":[18],"id":494892,"original_language":"en","original_title":"God","overview":"A
        psych-drama-thriller combo that tackles shady politicians, leaked documents
        and a lack of enthusiasm for religion.","popularity":1.006,"poster_path":"/4np8KzfT7XHgwQT5sJTRogqIn0s.jpg","release_date":"2016-12-29","title":"God","video":false,"vote_average":8.429,"vote_count":7},{"adult":false,"backdrop_path":"/yIDS5QLvKtgzfu43eUWx5JkGW6p.jpg","genre_id[...]
