{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/153?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "2cac9d988e6ceb0f7b768245dfeca6d7"
          ],
          "X-Memc-Age": [
            "11781"
          ],
          "X-Memc-Expires": [
            "2634"
          ],
          "Etag": [
            "W/\"152a49bcde84d6df6e679cbf577dacfc\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"adult\":false,\"backdrop_path\":\"/45He7gApNQyDbqCDjxew9BnHzjf.jpg\",\"belongs_to_collection\":null,\"budget\":4000000,\"genres\":[{\"id\":18,\"name\":\"Drama\"},{\"id\":10749,\"name\":\"Romance\"},{\"id\":35,\"name\":\"Comedy\"}],\"homepage\":\"\",\"id\":153,\"imdb_id\":\"tt0335266\",\"original_language\":\"en\",\"original_title\":\"Lost in Translation\",\"overview\":\"Two lost souls visiting Tokyo -- the young, neglected wife of a photographer and a washed-up movie star shooting a TV commercial -- find an odd solace and pensive freedom to be real in each other's company, away from their lives in America.\",\"popularity\":22.723,\"poster_path\":\"/wkSzJs7oMf8MIr9CQVICsvRfwA7.jpg\",\"production_companies\":[{\"id\":70,\"logo_path\":\"/ueaENQkPcy8rlr5fGZVBXKOhlBh.png\",\"name\":\"American Zoetrope\",\"origin_country\":\"US\"},{\"id\":10146,\"logo_path\":\"/xnFIOeq5cKw09kCWqV7foWDe4AA.png\",\"name\":\"Focus Features\",\"origin_country\":\"US\"},{\"id\":1780,\"logo_path\":\"/jdnvUiU7I3Uf2ig0VZNNjf0ORRL.png\",\"name\":\"Tohokushinsha Film Corporation\",\"origin_country\":\"JP\"},{\"id\":113241,\"logo_path\":\"/5VTEPsdFToSv89HyCtUTAElsnQk.png\",\"name\":\"Elemental Films\",\"origin_country\":\"GB\"}],\"production_countries\":[{\"iso_3166_1\":\"JP\",\"name\":\"Japan\"},{\"iso_3166_1\":\"GB\",\"name\":\"United Kingdom\"},{\"iso_3166_1\":\"US\",\"name\":\"United States of America\"}],\"release_date\":\"2003-09-18\",\"revenue\":119723856,\"runtime\":102,\"spoken_languages\":[{\"english_name\":\"Japanese\",\"iso_639_1\":\"ja\",\"name\":\"日本語\"},{\"english_name\":\"English\",\"iso_639_1\":\"en\",\"name\":\"English\"}],\"status\":\"Released\",\"tagline\":\"Everyone wants to be found.\",\"title\":\"Lost in Translation\",\"video\":false,\"vote_average\":7.393,\"vote_count\":6437}"
        }
      },
      "recorded_at": "Fri, 24 Mar 2023 18:32:03 GMT"
    },
[...]
