---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/438631/images?api_key=<TMDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0340fb552b4411df74fbc27a7106eec9
      X-Memc-Age:
      - '17750'
      X-Memc-Expires:
      - '7869'
      Etag:
      - W/"fe455d55f4350837803a947b7e15b4a9"
    body:
      encoding: ASCII-8BIT
      string: '{"backdrops":[{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/jYEW5xZkZk2WTrdbMGAPFuBqbDc.jpg","vote_average":5.418,"vote_count":40,"width":3840},{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/h3HsfV8Kn9Sz2QWUYYdP5ya23hx.jpg","vote_average":5.364,"vote_count":31,"width":3840},{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/sfjqJDmNqMIImO5khiddb9TARvO.jpg","vote_average":5.338,"vote_count":13,"width":3840},{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/wYMbnrdRCREjNLwFlG5SLWzBjui.jpg","vote_average":5.338,"vote_count":13,"width":3840},{"aspect_ratio":1.778,"height":1080,"iso_[...]
