{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?api_key=<MOVIE_API_KEY>&query=bat",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "73f514e6c6d5406b4bfe57d7f5fbc700"
          ],
          "X-Memc-Age": [
            "8759"
          ],
          "X-Memc-Expires": [
            "17263"
          ],
          "Etag": [
            "W/\"3684dace4f2aace810ddf8d2476b98c7\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/w26FmegnHL8BykasYNHADIEURBW.jpg\",\"genre_ids\":[10752,36,28],\"id\":1037644,\"original_language\":\"en\",\"original_title\":\"Battle for Saipan\",\"overview\":\"On July 7, 1944, a U.S. Army hospital on the remote island of Saipan is overrun by Japanese forces during a relentless attack. Outgunned and surrounded by the enemy, a lone medic puts it all on the line to lead a band of wounded soldiers to safety.\",\"popularity\":206.965,\"poster_path\":\"/9N3KwhzBCcqmFcqHpPCsjqfym9M.jpg\",\"release_date\":\"2022-11-25\",\"title\":\"Battle for Saipan\",\"video\":false,\"vote_average\":5.893,\"vote_count\":42},{\"adult\":false,\"backdrop_path\":\"/A34inrFSAIQNatFGc8qP5kfwDmV.jpg\",\"genre_ids\":[28,12,18,14,16],\"id\":118412,\"original_language\":\"ja\",\"original_title\":\"ベルセルク 黄金時代篇II ドルドレイ攻略\",\"overview\":\"The Band of the Hawk participates in the Midland war campaign. On the bloody battlefield, they conquer decisive victories that lead them to Doldrey, an old fortress that will decide the outcome of the war.\",\"popularity\":76.638,\"poster_path\":\"/gzVQQaDazukAcmiFx6l9WLj1kwo.jpg\",\"relea[...]
