{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?api_key=<MOVIE_API_KEY>&query=bat",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "73f514e6c6d5406b4bfe57d7f5fbc700"
          ],
          "X-Memc-Age": [
            "15190"
          ],
          "X-Memc-Expires": [
            "9454"
          ],
          "Etag": [
            "W/\"993198c7399819dc1576588d5d3bfebc\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/7eccX0xay9pDj6ZQvU4cu3whw18.jpg\",\"genre_ids\":[16,14,27,28,9648],\"id\":1003579,\"original_language\":\"en\",\"original_title\":\"Batman: The Doom That Came to Gotham\",\"overview\":\"Explorer Bruce Wayne accidentally unleashes an ancient evil, and returns to Gotham after being away for two decades. There, Batman battles Lovecraftian supernatural forces and encounters allies and enemies such as Green Arrow, Ra's al Ghul, Mr. Freeze, Killer Croc, Two-Face and James Gordon.\",\"popularity\":792.75,\"poster_path\":\"/hrATQE8ScQceohwInaMluluNEaf.jpg\",\"release_date\":\"2023-03-10\",\"title\":\"Batman: The Doom That Came to Gotham\",\"video\":false,\"vote_average\":6.439,\"vote_count\":49},{\"adult\":false,\"backdrop_path\":\"/mMA2YNddowV8MZtxpbn0a7Yilum.jpg\",\"genre_ids\":[10752,36,28,18],\"id\":928123,\"original_language\":\"zh\",\"original_title\":\"长津湖之水门桥\",\"overview\":\"In the follow-up to \\\"The Battle At Lake Changjin\\\", brothers Wu Qianli and Wu Wanli undertake a new task for the People's Volunteer Army, defending a bridge part of the American troops' escape route from the advancing Chinese.\",\"popularity\":116.222,\"poster_path\":\"/4W58wirZhbzcw2lNzRS2ErKnOGS.[...]
