{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/238/reviews?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "f393aa4aefe6bf5c800f6c8dd66ef2f2"
          ],
          "X-Memc-Age": [
            "3156"
          ],
          "X-Memc-Expires": [
            "12063"
          ],
          "Etag": [
            "W/\"e6d6f7895416bb7a7beb10330bc76355\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":238,\"page\":1,\"results\":[{\"author\":\"futuretv\",\"author_details\":{\"name\":\"\",\"username\":\"futuretv\",\"avatar_path\":\"/https://www.gravatar.com/avatar/f44259356bf6110070ed799323d539d6.jpg\",\"rating\":10.0},\"content\":\"The Godfather Review by Al Carlson\\r\\n\\r\\nThe Godfather is a film considered by most to be one of the greatest ever made. From The American Film Institute to as voted by users on the Internet Movie Database (IMDB) it is consider to be one of the best. As a film that ranks as high as other masterpieces including Citizen Kane, Pulp Fiction and 12 Angry Men, The Godfather is an exceptional piece of cinema excellence that is flawless and is simply the pinnacle crime drama.\\r\\nThe Godfather r[...]
[...]
