{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/238?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "9d48db5c244b9c3e3d162ef155211175"
          ],
          "X-Memc-Age": [
            "5283"
          ],
          "X-Memc-Expires": [
            "11286"
          ],
          "Etag": [
            "W/\"c362a76d2a480fd9f647db98d36e5445\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"adult\":false,\"backdrop_path\":\"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg\",\"belongs_to_collection\":{\"id\":230,\"name\":\"The Godfather Collection\",\"poster_path\":\"/9Baumh5J9N1nJUYzNkm0xsgjpwY.jpg\",\"backdrop_path\":\"/3WZTxpgscsmoUk81TuECXdFOD0R.jpg\"},\"budget\":6000000,\"genres\":[{\"id\":18,\"name\":\"Drama\"},{\"id\":80,\"name\":\"Crime\"}],\"homepage\":\"http://www.thegodfather.com/\",\"id\":238,\"imdb_id\":\"tt0068646\",\"original_language\":\"en\",\"original_title\":\"The Godfather\",\"overview\":\"Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.\",\"popularity\":129.885,\"poster_path\":\"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg\",\"production_companies\":[{\"id\":4,\"logo_path\":\"/gz66EfNoYPqHTYI4q9UEN4CbHRc.png\",\"name\":\"Paramount\",\"origin_country\":\"US\"},{\"id\":10211,\"logo_path\":null,\"name\":\"Alfran Productions\",\"origin_country\":\"US\"}],\"production_countries\":[{\"iso_3166_1\":\"US\",\"name\":\"United States of America\"}],\"release_date\":\"1972-03-14\",\"revenue\":245066411,\"runtime\":175,\"spoken_languages\":[{\"english_name\":\"English\",\"iso_639_1\":\"en\",\"name\":\"English\"},{\"english_name\":\"Italian\",\"iso_639_1\":\"it\",\"name\":\"Italiano\"},{\"english_name\":\"Latin\",\"iso_639_1\":\"la\",\"name\":\"Latin\"}],\"status\":\"Released\",\"tagline\":\"An offer you can't refuse.\",\"title\":\"The Godfather\",\"video\":false,\"vote_average\":8.712,\"vote_count\":17641}"
        }
      },
      "recorded_at": "Thu, 23 Mar 2023 21:42:35 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/238/credits?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "c0def4637d62cfa25cdf31450b6a7422"
          ],
          "X-Memc-Age": [
            "2916"
          ],
          "X-Memc-Expires": [
            "13039"
          ],
          "Etag": [
            "W/\"80ad74c3625b3ddbd4d738a044271053\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":238,\"cast\":[{\"adult\":false,\"gender\":2,\"id\":3084,\"known_for_department\":\"Acting\",\"name\":\"Marlon Brando\",\"original_name\":\"Marlon Brando\",\"popularity\":14.838,\"profile_path\":\"/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg\",\"cast_id\":5,\"character\":\"Don Vito Corleone\",\"credit_id\":\"52fe422bc3a36847f8009357\",\"order\":0},{\"adult\":false,\"gender\":2,\"id\":1158,\"known_for_department\":\"Acting\",\"name\":\"Al Pacino\",\"original_name\":\"Al Pacino\",\"popularity\":37.187,\"profile_path\":\"/fMDFeVf0pjopTJbyRSLFwNDm8Wr.jpg\",\"cast_id\":6,\"character\":\"Don Michael Corleone\",\"credit_id\":\"52fe422bc3a36847f800935b\",\"order\":1},{\"adult\":false,\"gender\":2,\"id\":3085,\"known_for_department\":\"Acting\",\"name\":\"James Caan\",\"original_name\":\"James Caan\",\"popularity\":17.354,\"profile_path\":\"/bG[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/238/reviews?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "f393aa4aefe6bf5c800f6c8dd66ef2f2"
          ],
          "X-Memc-Age": [
            "12168"
          ],
          "X-Memc-Expires": [
            "5015"
          ],
          "Etag": [
            "W/\"e6d6f7895416bb7a7beb10330bc76355\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"id\":238,\"page\":1,\"results\":[{\"author\":\"futuretv\",\"author_details\":{\"name\":\"\",\"username\":\"futuretv\",\"avatar_path\":\"/https://www.gravatar.com/avatar/f44259356bf6110070ed799323d539d6.jpg\",\"rating\":10.0},\"content\":\"The Godfather Review by Al Carlson\\r\\n\\r\\nThe Godfather is a film considered by most to be one of the greatest ever made. From The American Film Institute to as voted by users on the Internet Movie Database (IMDB) it is consider to be one of the best. As a film that ranks as high as other masterpieces including Citizen Kane, Pulp Fiction and 12 Angry Men, The Godfather is an exceptional piece of cinema excellence that is flawless and is simply the pinnacle crime drama.\\r\\nThe Godfather r[...]
[...]
