{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?api_key=api_key&query=The%20Godfather",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "56a64f47f8106d7619e8171cd39534d0"
          ],
          "X-Memc-Age": [
            "6023"
          ],
          "X-Memc-Expires": [
            "15577"
          ],
          "Etag": [
            "W/\"47015ef77d417eae9c01377832350270\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg\",\"genre_ids\":[18,80],\"id\":238,\"original_language\":\"en\",\"original_title\":\"The Godfather\",\"overview\":\"Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.\",\"popularity\":117.567,\"poster_path\":\"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg\",\"release_date\":\"1972-03-14\",\"title\":\"The Godfather\",\"video\":false,\"vote_average\":8.712,\"vote_count\":17636},{\"adult\":false,\"backdrop_path\":\"/kGzFbGhp99zva6oZODW5atUtnqi.jpg\",\"genre_ids\":[18,80],\"id\":240,\"original_language\":\"en\",\"original_title\":\"The Godfather Part II\",\"overview\":\"In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.\",\"popularity\":69.386,\"poster_path\":\"/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg\"[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/top_rated?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "body": {
          [...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?api_key=api_key&query=fight",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
       [...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?api_key=api_key&query=Fight%20Club",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
[...]
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?api_key=api_key&query=The%20Godfather",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
<<<<<<< HEAD
            "Fri, 24 Mar 2023 14:25:49 GMT"
=======
            "Thu, 23 Mar 2023 21:29:00 GMT"
>>>>>>> 9a144a8ee989241978158ff8b8832ca74b7c66d0
          ],
          "Server": [
            "openresty"
          ],
          "Cache-Control": [
            "public, max-age=28800"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "56a64f47f8106d7619e8171cd39534d0"
          ],
          "X-Memc-Age": [
<<<<<<< HEAD
            "21176"
          ],
          "X-Memc-Expires": [
            "424"
          ],
          "Etag": [
            "W/\"9e6843650ea5f25e353c0a273e91e9e1\""
=======
            "3520"
          ],
          "X-Memc-Expires": [
            "18080"
          ],
          "Etag": [
            "W/\"22ebad3702d052acfffa38f7f6f3f878\""
>>>>>>> 9a144a8ee989241978158ff8b8832ca74b7c66d0
          ],
          "Vary": [
            "Accept-Encoding",
            "Origin"
          ],
          "X-Cache": [
            "Hit from cloudfront"
          ],
          "Via": [
<<<<<<< HEAD
            "1.1 89f2505f9f8dbcdacd6d4a40d558810c.cloudfront.net (CloudFront)"
          ],
          "X-Amz-Cf-Pop": [
            "DFW57-P2"
=======
            "1.1 f9a5caa2a18f480171fad57618db559e.cloudfront.net (CloudFront)"
          ],
          "X-Amz-Cf-Pop": [
            "DEN52-P2"
>>>>>>> 9a144a8ee989241978158ff8b8832ca74b7c66d0
          ],
          "Alt-Svc": [
            "h3=\":443\"; ma=86400"
          ],
          "X-Amz-Cf-Id": [
<<<<<<< HEAD
            "tGTfnVLUBlHh-GGtWU7-tQnBi-FyQGZD7RcZHiYM1gmxb2SG7Wa0QQ=="
          ],
          "Age": [
            "92"
=======
            "D85Ob_gAQpZGAH6hVHzMNNgHs9O2pN3q5cdkYWzKFBHqfOtQgen6xQ=="
          ],
          "Age": [
            "17722"
>>>>>>> 9a144a8ee989241978158ff8b8832ca74b7c66d0
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
<<<<<<< HEAD
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg\",\"genre_ids\":[18,80],\"id\":238,\"original_language\":\"en\",\"original_title\":\"The Godfa[...]
[...]
