{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?api_key=api_key&query=batman",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "1c52f154e97603f7925abead3a072b11"
          ],
          "X-Memc-Age": [
            "18464"
          ],
          "X-Memc-Expires": [
            "3556"
          ],
          "Etag": [
            "W/\"224c8fb19dfa3fe3cc4473be35b0b34c\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/yHfezFdN9kNf2KvyUcZfEhtnFMP.jpg\",\"genre_ids\":[14,28,80],\"id\":268,\"original_language\":\"en\",\"original_title\":\"Batman\",\"overview\":\"Batman must face his most ruthless nemesis when a deformed madman calling himself \\\"The Joker\\\" seizes control of Gotham's criminal underworld.\",\"popularity\":44.416,\"poster_path\":\"/cij4dd21v2Rk2YtUQbV5kW69WB2.jpg\",\"release_date\":\"1989-06-23\",\"title\":\"Batman\",\"video\":false,\"vote_average\":7.215,\"vote_count\":6854},{\"adult\":false,\"backdrop_path\":\"/bxxupqG6TBLKC60M6L8iOvbQEr6.jpg\",\"genre_ids\":[28,35,80],\"id\":2661,\"original_language\":\"en\",\"original_title\":\"Batman\",\"overview\":\"The Dynamic Duo faces four super-villains who plan to hold the world for ransom with the help of a secret invention that instantly dehydrates people.\",\"popularity\":14.427,\"poster_path\":\"/zzoPxWHnPa0eyfkMLgwbNvdEcVF.jpg\",\"release_date\":\"1966-07-30\",\"title\":\"Batman\",\"video\":false,\"vote_average\[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?api_key=api_key&query=Fight%20Club",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?api_key=api_key&query=The%20Godfather",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc":[...]
[...]
