---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238?api_key=<HIDDEN_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 9d48db5c244b9c3e3d162ef155211175
      X-Memc-Age:
      - '27119'
      X-Memc-Expires:
      - '1101'
      Etag:
      - W/"31dc94ccb7a3b3a937e62738df24dd17"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","belongs_to_collection":{"id":230,"name":"The
        Godfather Collection","poster_path":"/zqV8MGXfpLZiFVObLxpAI7wWonJ.jpg","backdrop_path":"/3WZTxpgscsmoUk81TuECXdFOD0R.jpg"},"budget":6000000,"genres":[{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"http://www.thegodfather.com/","id":238,"imdb_id":"tt0068646","original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
        of bloody revenge.","popularity":123.773,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","production_companies":[{"id":4,"logo_path":"/gz66EfNoYPqHTYI4q9UEN4CbHRc.png","name":"Paramount","origin_country":"US"},{"id":10211,"logo_path":null,"name":"Alfran
        Productions","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1972-03-14","revenue":245066411,"runtime":175,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Italian","iso_639_1":"it","name":"Italiano"},{"english_name":"Latin","iso_639_1":"la","name":"Latin"}],"status":"Released","tagline":"An
        offer you can''t refuse.","title":"The Godfather","video":false,"vote_average":8.709,"vote_count":18482}'
  recorded_at: Fri, 25 Aug 2023 17:59:00 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238/images?api_key=<HIDDEN_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 5a3a071b61852f92573f577999fabb68
      X-Memc-Age:
      - '2372'
      X-Memc-Expires:
      - '24225'
      Etag:
      - W/"9e76a362e91d7e62ba83f752ca26aeed"
    body:
      encoding: ASCII-8BIT
      string: '{"backdrops":[{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","vote_average":5.516,"vote_count":16,"width":3840},{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg","vote_average":5.46,"vote_count":21,"width":3840},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/AbgEQO2mneCSOc8CSnOMa8pBS8I.jpg","vote_average":5.388,"vote_count":4,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/jdHsptJbtalEuVhCV5i7kSC3g0x.jpg","vote_average":5.384,"vote_count":2,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639[...]
