{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/top_rated?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg\",\"genre_ids\":[18,80],\"id\":238,\"original_language\":\"en\",\"original_title\":\"The Godfather\",\"overview\":\"Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.\",\"popularity\":117.567,\"poster_path\":\"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg\",\"release_date\":\"1972-03-14\",\"title\":\"The Godfather\",\"video\":false,\"vote_average\":8.7,\"vote_count\":17630},{\"adult\":false,\"backdrop_path\":\"/wPU78OPN4BYEgWYdXyg0phMee64.jpg\",\"genre_ids\":[18,80],\"id\":278,\"original_language\":\"en\",\"original_title\":\"The Shawshank Redemption\",\"overview\":\"Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -[...]
[...]
