{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Cascade": [
            "pass"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"success\":false,\"status_code\":34,\"status_message\":\"The resource you requested could not be found.\"}"
        }
      },
      "recorded_at": "Fri, 24 Mar 2023 16:44:48 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/1?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "MISS"
          ],
          "X-Memc-Key": [
            "557a1378e00e81855a717a9d794ef206"
          ],
          "X-Memc-Age": [
            "0"
          ],
          "X-Memc-Expires": [
            "15102"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"success\":false,\"status_code\":34,\"status_message\":\"The resource you requested could not be found.\"}"
        }
      },
      "recorded_at": "Fri, 24 Mar 2023 16:50:31 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/364?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "c79e80ff94e3ffba409d0675dba620fd"
          ],
          "X-Memc-Age": [
            "12323"
          ],
          "X-Memc-Expires": [
            "2966"
          ],
          "Etag": [
            "W/\"0d0522376e2d2f2030beaca51553a801\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"adult\":false,\"backdrop_path\":\"/3WP0RObZ2t7ShHfqQpKPljF9B22.jpg\",\"belongs_to_collection\":{\"id\":120794,\"name\":\"Batman Collection\",\"poster_path\":\"/adQxUvQW8HXNsvMG5aj71pHh9T.jpg\",\"backdrop_path\":\"/4UHZWw5lV3ZoadTjXuVOakdH32L.jpg\"},\"budget\":80000000,\"genres\":[{\"id\":28,\"name\":\"Action\"},{\"id\":14,\"name\":\"Fantasy\"}],\"homepage\":\"\",\"id\":364,\"imdb_id\":\"tt0103776\",\"original_language\":\"en\",\"original_title\":\"Batman Returns\",\"overview\":\"While Batman deals with a deformed man calling himself the Penguin, an employee of a corrupt businessman transforms into the Catwoman.\",\"popularity\":36.087,\"poster_path\":\"/jKBjeXM7iBBV9UkUcOXx3m7FSHY.jpg\",\"production_companies\":[{\"id\":174,\"logo_path\":\"/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png\",\"name\":\"Warner Bros. Pictures\",\"origin_country\":\"US\"}],\"production_countries\":[{\"iso_3166_1\":\"US\",\"name\":\"United States of America\"}],\"release_date\":\"1992-06-19\",\"revenue\":280000000,\"runtime\":126,\"spoken_languages\":[{\"english_name\":\"English\",\"iso_639_1\":\"en\",\"name\":\"English\"}],\"status\":\"Released\",\"tagline\":\"The Bat, the Cat, the Penguin.\",\"title\":\"Batman Returns\",\"video\":false,\"vote_average\":6.9,\"vote_count\":5702}"
        }
      },
      "recorded_at": "Fri, 24 Mar 2023 16:51:35 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/1?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "MISS"
          ],
          "X-Memc-Key": [
            "557a1378e00e81855a717a9d794ef206"
          ],
          "X-Memc-Age": [
            "0"
          ],
          "X-Memc-Expires": [
            "15102"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"success\":false,\"status_code\":34,\"status_message\":\"The resource you requested could not be found.\"}"
        }
      },
      "recorded_at": "Fri, 24 Mar 2023 18:14:29 GMT"
    }
  ],
  "recorded_with": "VCR 6.1.0"
}