{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/76?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "50d37647b351bb334acddf5a62049516"
          ],
          "X-Memc-Age": [
            "9802"
          ],
          "X-Memc-Expires": [
            "4599"
          ],
          "Etag": [
            "W/\"12f92b4b11f2d9d1d6b0e4a08d1d10df\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"adult\":false,\"backdrop_path\":\"/qA2TyqPldTtoTVY3LKrNIG5g6bH.jpg\",\"belongs_to_collection\":{\"id\":123800,\"name\":\"Before... Collection\",\"poster_path\":\"/bBS1CfspKXq5RBok85hYvtW9ZwE.jpg\",\"backdrop_path\":\"/to3l6Gwzd7FGWa9Spc708IP1K7l.jpg\"},\"budget\":2500000,\"genres\":[{\"id\":18,\"name\":\"Drama\"},{\"id\":10749,\"name\":\"Romance\"}],\"homepage\":\"https://www.warnerbros.com/movies/sunrise\",\"id\":76,\"imdb_id\":\"tt0112471\",\"original_language\":\"en\",\"original_title\":\"Before Sunrise\",\"overview\":\"A young man and woman meet on a train in Europe, and wind up spending one evening together in Vienna. Unfortunately, both know that this will probably be their only night together.\",\"popularity\":22.374,\"poster_path\":\"/aZ2Vkrc4RqIjewYbmfy74oDgZfX.jpg\",\"production_companies\":[{\"id\":97,\"logo_path\":\"/7znWcbDd4PcJzJUlJxYqAlPPykp.png\",\"name\":\"Castle Rock Entertainment\",\"origin_country\":\"US\"},{\"id\":104576,\"logo_path\":\"/sNhEzePPkxW3AKqr3l0h7I1k0hR.png\",\"name\":\"Filmhaus Films\",\"origin_country\":\"AT\"},{\"id\":11510,\"logo_path\":\"/gg3gP2wHNNfOfLKdXGjYC9qJ9ok.png\",\"name\":\"Detour Filmproduction\",\"origin_country\":\"US\"}],\"production_countries\":[{\"iso_3166_1\":\"AT\",\"name\":\"Austria\"},{\"iso_3166_1\":\"CH\",\"name\":\"Switzerland\"},{\"iso_3166_1\":\"US\",\"name\":\"United States of America\"}],\"release_date\":\"1995-01-27\",\"revenue\":5987386,\"runtime\":101,\"spoken_languages\":[{\"english_name\":\"English\",\"iso_639_1\":\"en\",\"name\":\"English\"},{\"english_name\":\"German\",\"iso_639_1\":\"de\",\"name\":\"Deutsch\"},{\"english_name\":\"French\",\"iso_639_1\":\"fr\",\"name\":\"Français\"}],\"status\":\"Released\",\"tagline\":\"Can the greatest romance of your life last only one night?\",\"title\":\"Before Sunrise\",\"video\":false,\"vote_average\":7.963,\"vote_count\":3497}"
        }
      },
      "recorded_at": "Fri, 24 Mar 2023 18:28:05 GMT"
    },
[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/1?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "MISS"
          ],
          "X-Memc-Key": [
            "557a1378e00e81855a717a9d794ef206"
          ],
          "X-Memc-Age": [
            "0"
          ],
          "X-Memc-Expires": [
            "16168"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"success\":false,\"status_code\":34,\"status_message\":\"The resource you requested could not be found.\"}"
        }
      },
      "recorded_at": "Fri, 24 Mar 2023 18:49:32 GMT"
    },
[...]
