{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/60?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 404,
          "message": "Not Found"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "MISS"
          ],
          "X-Memc-Key": [
            "34f16040d4e0189c27c563b6bea0504c"
          ],
          "X-Memc-Age": [
            "0"
          ],
          "X-Memc-Expires": [
            "14683"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"success\":false,\"status_code\":34,\"status_message\":\"The resource you requested could not be found.\"}"
        }
      },
      "recorded_at": "Fri, 24 Mar 2023 18:25:34 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/movie/62?api_key=api_key",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "cef177d1707cc65b91b5dc7fae6c2247"
          ],
          "X-Memc-Age": [
            "13432"
          ],
          "X-Memc-Expires": [
            "1648"
          ],
          "Etag": [
            "W/\"1578cea9f01a7210ee7bf8846e07380f\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"adult\":false,\"backdrop_path\":\"/kCEXA22ASuq7Y29jnngyaisyA0X.jpg\",\"belongs_to_collection\":{\"id\":4438,\"name\":\"The Space Odyssey Series\",\"poster_path\":\"/bxQaNDuSLCllnMSQ0ZLg7e6HrMW.jpg\",\"backdrop_path\":\"/15FumSExI9SRoL7QJWZAsA0b10c.jpg\"},\"budget\":12000000,\"genres\":[{\"id\":878,\"name\":\"Science Fiction\"},{\"id\":9648,\"name\":\"Mystery\"},{\"id\":12,\"name\":\"Adventure\"}],\"homepage\":\"http://2001spaceodysseymovie.com\",\"id\":62,\"imdb_id\":\"tt0062622\",\"original_language\":\"en\",\"original_title\":\"2001: A Space Odyssey\",\"overview\":\"Humanity finds a mysterious object buried beneath the lunar surface and sets off to find its origins with the help of HAL 9000, the world's most advanced super computer.\",\"popularity\":41.871,\"poster_path\":\"/ve72VxNqjGM69Uky4WTo2bK6rfq.jpg\",\"production_companies\":[{\"id\":385,\"logo_path\":null,\"name\":\"Stanley Kubrick Productions\",\"origin_country\":\"GB\"},{\"id\":21,\"logo_path\":\"/5Va1Ie5c4sjfEYqixQ3L8qg7fKu.png\",\"name\":\"Metro-Goldwyn-Mayer\",\"origin_country\":\"US\"}],\"production_countries\":[{\"iso_3166_1\":\"GB\",\"name\":\"United Kingdom\"},{\"iso_3166_1\":\"US\",\"name\":\"United States of America\"}],\"release_date\":\"1968-04-02\",\"revenue\":71923560,\"runtime\":149,\"spoken_languages\":[{\"english_name\":\"English\",\"iso_639_1\":\"en\",\"name\":\"English\"},{\"english_name\":\"Russian\",\"iso_639_1\":\"ru\",\"name\":\"Pусский\"}],\"status\":\"Released\",\"tagline\":\"The Ultimate Trip.\",\"title\":\"2001: A Space Odyssey\",\"video\":false,\"vote_average\":8.083,\"vote_count\":10085}"
        }
      },
      "recorded_at": "Fri, 24 Mar 2023 18:25:34 GMT"
    },
[...]
