<div id ="vp-id">
  <p>viewing_party.movie_image</p>
  <p><b>Movie Title</b></p>
  <p>viewing_party.date<br>viewing_party.time</p>
  <p><b>Host: </b>viewing_party.host</p>
  <p><b>Invited: </b>viewing_party.invited_users</p>
</div>