<h3>Search for movies</h3>
<%= form_tag "Search Movie By Title", method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter Movie Title" %>
  <%= submit_tag "Search" %>
<% end %>
<br>
<%= button_to "Discover Top Rated Movies", movies_user_path(@user), method: :get %>