<h2>Discover Movies</h2>

<%= button_to "Find Top Rated Movies", "/users/#{@user.id}/movies?q=top%20rated", method: :get %>


<%= form_with url: "/users/#{@user.id}/movies?q=keyword", method: :get, local: true do |f| %>
  <%= f.text_field :search, placeholder: 'search' %>
  <%= f.submit "Find Movies" %>
<% end %>