<h2><%= @user.name %>'s Dashboard</h2>
<br>
<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
<br>
<% @user_all_parties.each do |party| %>
  <p><%= party.date.strftime("%B %-d, %Y") %></p>
  <p><%= party.start_time.strftime("%I:%M %p") %></p>
  <% if @user.id == party.host_id %>
    <p>Hosting</p>
  <% else %>
    <p>Invited</p>
  <% end %>
    <br>
<% end %>
