<%= render "shared/welcome_link" %>

<head>
  <%= "#{@user.name}'s Dashboard" %>
</head>

<body>
  <%= button_to "Discover Movies", user_discover_index_path(@user), class: "button", method: :get %>
</body>
