<h2><%= @user.name %>'s Dashboard</h2>

<button>
    <%= link_to 'Discover Movies', user_discover_index_path(@user) %>
</button>

<section id="parties">
  <h2>~!Viewing Parties!~</h2>
  <p>Placeholder</p>
</section>