<h3><%= @user.name %> Dashboard</h3>

<%= button_to "Discover Movies", user_discover_index_path(@user), method: :get %>

<h3>Hosted Parties:</h3>
<div id="hosted">
<% @user.hosted_viewing_parties.each do |party| %>
<p><%= party.movie_title %> Viewing Party</p>
<%end%>
</div>

<h3>Invited Parties:</h3>
<div id="invited">
<% @user.invited_viewing_parties.each do |party| %>
<p><%= party.movie_title %> Viewing Party</p>
<%end%>
</div>