  <%= render "welcome/welcome_page_nav" %>

  <p class= "title has-test_centered"><%= @user.name %>'s Dashboard</p>

	<%= button_to "Discover Movies", user_discover_index_path(@user) %>

  <section class="section">
    <p class="title">Viewing Parties</p>
    <div class="row">
      <div class="col-12">
        <p>Upcoming Parties</p>
        <ul>
          <% @parties.each do |party| %>
            <li><%= link_to "Party ##{party.id}", party_path(party)%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>