<div style="text-align: center;">
  <h1><%= "#{@user.name}'s Dashboard" %></h1>
</div>

<%= button_to "Discover Movies", discover_path(@user.id), method: :get %>

<h3>Viewing Parties</h3>

<% @user.parties.each do |p| %>
  <p><%= p.date %></p>
  <p><%= p.time.strftime('%A, %B %e, %Y') %></p>

<% end %>
