<h2><%= "#{@user.name}'s Dashboard" %></h2>

<p><%= button_to "Discover Movies", "/register", method: :get %></p><br>

<h4>Viewing Parties</h4>
<% @user.parties.each do |party| %>
  <%= party.name %>
<% end %>
