<h2><%= @user.name %>'s Dashboard</h2>
<br>
<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
<br>
<% @user_all_parites.each do |party| %>
  <p><%= party.date.strftime("%B %-d, %Y") %></p>
  <p><%= party.time.strftime("%I:%M %p") %></p>
<% end %>
