<h1><%= "#{@user.name}'s Dashboard"%></h1>
<p>Email: <%= @user.email %></p>

<%= button_to "Discover Movies", user_discover_index_path(@user), method: :get %>

<div id="user_parties">
  <h3>These are your Viewing Parties</h3>
  <% @user.parties.uniq.each do |party| %>
</div>