<h2><%=@user.name%>'s Dashboard</h2>

<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>

<h3>Viewing Parties:</h3>

<% @user.viewing_parties.each do |viewing_party| %>
    <li><%= "When: #{viewing_party.when}" %></li>
    <li><%= "Start Time: #{viewing_party.start_time}" %></li>
  <% end %>