<h1> <%= @user.name %>'s Dashboard  </h1>

<section id="discover-movies">
<%= button_to "Discover Movies", user_discover_path(@user), {method: "get"} %>
</section>

<ul id="viewing-parties">
  <h3> Viewing Parties </h3>
  <% @parties.each do |party| %>
    <li><%= party.movie_title %></li>
  <% end %>
</ul>