<h3><%= @facade.user_name %>'s Dashboard</h3>
<%= form_with url: user_dashboard_discover_index_path(@facade.user), method: :get , local: true do |form| %>
  <%= form.submit 'Discover Movies' %>
<% end %>
