<%= render partial: "shared/nav" %>

<h1><%= @user.name %>'s Dashboard</h1><br><br>


<%= render partial: "shared/discover_nav" %>


<h2>My Viewing Parties</h2>

<% @user.viewing_parties.each do |vp| %>
<% end %> 
