<div class="container">
  <%= button_to label,
                    path,
                    method: method,
                    data: { turbo: false },
                    params: params,
                    class: "button" %>
</div>