<div class="nav-container container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav navbar-nav pull-left">
      <li><%= link_to 'Home', root_path, style: 'pull-left' %>
    </ul>
  </nav>
</div>

<h1 class="title">Viewing Party Lite</h1>