---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/100/credits?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 13663a9908bbb396eafdfd94f1388bfb
      X-Memc-Age:
      - '26503'
      X-Memc-Expires:
      - '1509'
      Etag:
      - W/"d8daf983c4aa142f5f8d92b1dbed075f"
    body:
      encoding: ASCII-8BIT
      string: '{"id":100,"cast":[{"adult":false,"gender":2,"id":973,"known_for_department":"Acting","name":"Jason
        Flemyng","original_name":"Jason Flemyng","popularity":17.886,"profile_path":"/nYl0180ACnLzVlGbaAfuPtdGr9K.jpg","cast_id":12,"character":"Tom","credit_id":"52fe4217c3a36847f80035fb","order":0},{"adult":false,"gender":2,"id":974,"known_for_department":"Acting","name":"Dexter
        Fletcher","original_name":"Dexter Fletcher","popularity":17.399,"profile_path":"/yRI8MDB5sg8b8EZkzFz5cCBrnKL.jpg","cast_id":13,"character":"Soap","credit_id":"52fe4217c3a36847f80035ff","order":1},{"adult":false,"gender":2,"id":975,"known_for_department":"Acting","name":"Nick
        Moran","original_name":"Nick Moran","popularity":11.166,"profile_path":"/kfWebCAm72JBZLXcNbA2Myr950E.jpg","cast_id":14,"cha[...]
