<center>
  <p><%= button_to "Create new user", register_path, method: :get %></p>

  <h2>Existing Users</h2>
  <div id="existing_users">
    <% @users.each do |user| %>
      <p><%=link_to user.email, user_path(user)%></p>
    <%end%>
  </div>
</center>
