<br><center><%= button_to "Create New User", "/register/new", method: :get%>
<%= link_to "Log In", login_form_path %>

<% @users.each do |user| %>
  <p><%= link_to user.name, "/users/#{user.id}" %></p>
<%end %>
</ul>