<h1>Viewing Party</h1>

<%= link_to "Login", "/login" %><br><br>
<%= button_to "Create a New User", "/register", method: :get %><br>

<% @users.each do |user| %>
  <%= link_to "#{user.name}", "/users/#{user.id}" %><br>
<% end %>