<div id="homepage-buttons">
  <% if current_user %>
    <%= link_to "Log Out" %>
  <% else %>
    <p>Existing User? <%= link_to "Sign In", login_path %></p>
    <p>New to Viewing Party? <%= link_to "Create an Account", register_path %></p>
  <% end %>
</div>