<%= button_to "Create a New User", "/register", method: :get %>

<div class="users">
  <h3>Existing Users</h3>
  <% @users.each do |user| %>
    <ul>
    <li><%= link_to "#{user.email}", "/users/:id" %></li>
    </ul>
  <% end %>
</div>
