<h1>Viewing Party</h1>

<%= button_to 'Create a New User', '/users/register', method: :new %>


<h2>Existing Users</h2>
<% @users.each do |user| %>
<ul>
  <li id="user_<%= user.id %>"><%= link_to user.email, "/users/#{user.id}" %></li>
</ul>
<% end %>