<%= button_to "Create a New User", "/register", method: :get %>
<br>

<div id="current-users">
  <h3> Current Users </h3>
  <% @users.each do |user| %>
    <li><%= link_to "#{user.name}", user_path(user.id) %></li>
  <% end %>
</div>