
<div id="new_user">
  <%= button_to "Create New User", "/register", method: :get %>
  <%= button_to "Log In", login_path, method: :get %>
</div>

<ul id="existing_users">
  <h3>Existing Users</h3>
  <% @users.each do |user| %>
    <li><%= link_to user.email, dashboard_path(user.id) %></li>
  <% end %>
</ul>