<%= render partial: 'shared/nav' %>

<div class="container">
    <%= button_to "Create User", register_path, method: :get, class: "button" %>
</div>
<br>
<div class="container">
  <% @users.each do | user | %>
      <%= link_to "#{user.email}", user_path(user) %>
  <% end %>
</div>