---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/569094/images?api_key=<MOVIE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - dd65681f0e2a7006c341c1a49935f07f
      X-Memc-Age:
      - '20302'
      X-Memc-Expires:
      - '1688'
      Etag:
      - W/"f8294ccbc7b07f8778f59d1ee83ace35"
    body:
      encoding: ASCII-8BIT
      string: '{"backdrops":[{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/4HodYYKEIsGOdinkGi2Ucz6X9i0.jpg","vote_average":5.694,"vote_count":34,"width":3840},{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/9xfDWXAUbFXQK585JvByT5pEAhe.jpg","vote_average":5.458,"vote_count":17,"width":3840},{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/kVd3a9YeLGkoeR50jGEXM6EqseS.jpg","vote_average":5.454,"vote_count":3,"width":3840},{"aspect_ratio":1.778,"height":2160,"iso_639_1":"en","file_path":"/nGxUxi3PfXDRm7Vg95VBNgNM8yc.jpg","vote_average":5.39,"vote_count":6,"width":3840},{"aspect_ratio":1.778,"height":2160,"iso_639[...]
