---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=DONT_SHARE_MY_TMDB_SECRET_KEY&query=324857
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - e1e6c634c7142ba6ecd12feb9b75a69c
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '27945'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Fri, 12 May 2023 20:29:45 GMT
recorded_with: VCR 6.1.0
