---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/keyword?api_key=<MOVIEDB_API_KEY>&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 33bcc342a2701590475b25019f50e4a1
      X-Memc-Age:
      - '20684'
      X-Memc-Expires:
      - '916'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Wed, 22 Mar 2023 23:23:29 GMT
recorded_with: VCR 6.1.0
