---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/keyword?api_key=<MOVIEDB_API_KEY>&query=Bear
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 584fd3a0f046393ca45f1684387b8314
      X-Memc-Age:
      - '17160'
      X-Memc-Expires:
      - '4440'
      Etag:
      - W/"0a196de07adee6636436c15963903832"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"id":10468,"name":"bear"},{"id":3247,"name":"cuddle
        bear"},{"id":197345,"name":"cartoon bear"},{"id":33678,"name":"beard"},{"id":155353,"name":"fozzie
        bear"},{"id":282172,"name":"berenstain bears"},{"id":282173,"name":"country
        bears"},{"id":217056,"name":"bear cub"},{"id":282855,"name":"panda bear"},{"id":227863,"name":"bearer
        bonds"},{"id":262975,"name":"bear trainer"},{"id":235598,"name":"bearded lady"},{"id":268050,"name":"great
        bear rainforest"},{"id":294082,"name":"polar bear swim"},{"id":2522,"name":"grizzly
        bear"},{"id":272472,"name":"bears"},{"id":6678,"name":"polar bear"},{"id":280502,"name":"care
        bears"},{"id":237156,"name":"bear snores on"},{"id":6533,"name":"kodiak bear"}],"total_pages":3,"total_results":41}'
  recorded_at: Wed, 22 Mar 2023 23:21:36 GMT
recorded_with: VCR 6.1.0
