---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/455476
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Hide_API
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 50e253f7e3769df8918cea1862b1c972
      X-Memc-Age:
      - '15162'
      X-Memc-Expires:
      - '11774'
      Etag:
      - W/"454cecf1d2d8ce294c1eaa9c29f85773"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/oqP1qEZccq5AD9TVTIaO6IGUj7o.jpg","belongs_to_collection":null,"budget":60000000,"genres":[{"id":14,"name":"Fantasy"},{"id":28,"name":"Action"},{"id":12,"name":"Adventure"}],"homepage":"https://kotzmovie.com","id":455476,"imdb_id":"tt6528290","original_language":"en","original_title":"Knights
        of the Zodiac","overview":"When a headstrong street orphan, Seiya, in search
        of his abducted sister unwittingly taps into hidden powers, he discovers he
        might be the only person alive who can protect a reincarnated goddess, sent
        to watch over humanity. Can he let his past go and embrace his destiny to
        become a Knight of the Zodiac?","popularity":596.191,"poster_path":"/qW4crfED8mpNDadSmMdi7ZDzhXF.jpg","production_companies":[{"id":11341,"logo_path":"/xytTBODEy3p20ksHL4Ftxr483Iv.png","name":"Stage
        6 Films","origin_country":"US"},{"id":5542,"logo_path":"/ayE4LIqoAWotavo7xdvYngwqGML.png","name":"Toei
        Animation","origin_country":"JP"}],"production_countries":[{"iso_3166_1":"JP","name":"Japan"},{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2023-04-27","revenue":6794519,"runtime":113,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Go
        beyond your destiny.","title":"Knights of the Zodiac","video":false,"vote_average":6.682,"vote_count":737}'
  recorded_at: Wed, 16 Aug 2023 20:48:28 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Hide_API
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Fri, 18 Aug 2023 02:51:48 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Hide_API
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Fri, 18 Aug 2023 02:51:48 GMT
recorded_with: VCR 6.2.0
