{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?api_key=DONT_SHARE_MY_TMDB_KEY&query=Harry%20Potter",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "f60468bb6a868a7a35849fdb2db839ad"
          ],
          "X-Memc-Age": [
            "23658"
          ],
          "X-Memc-Expires": [
            "4873"
          ],
          "Etag": [
            "W/\"13400fd904f3f2d66dd1ada03fd84a1c\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/hziiv14OpD73u9gAak4XDDfBKa2.jpg\",\"genre_ids\":[12,14],\"id\":671,\"original_language\":\"en\",\"original_title\":\"Harry Potter and the Philosopher's Stone\",\"overview\":\"Harry Potter has lived under the stairs at his aunt and uncle's house his whole life. But on his 11th birthday, he learns he's a powerful wizard—with a place waiting for him at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness his newfound powers with the help of the school's kindly headmaster, Harry uncovers the truth about his parents' deaths—and about the villain who's to blame.\",\"popularity\":145.854,\"poster_path\":\"/wuMc08IPKEatf9rnMNXvIDxqP4W.jpg\",\"release_date\":\"2001-11-16\",\"title\":\"Harry Potter and the Philosopher's Stone\",\"video\":false,\"vote_average\":7.917,\"vote_count\":25438},{\"adult\":false,\"backdrop_path\":\"/n5A7brJCjejceZmHyujwUTVgQNC.jpg\",\"genre_ids\":[14,12],\"id\":12445,\"original_language\":\"en\",\"original_title\":\"Harry Potter and the Deathly Hallows: Part 2\",\"overview\":\"Harry, Ron and Hermione continue their quest to vanquish the evil Voldemort once and for all. Just as things begin to look hopeless for the young wizards, Harry discovers a trio of magical objects that endow him with powers to rival Voldemort's formidable skills.\",\"popula[...]
[...]
