---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/42470?api_key=f7288e89c67ddeca054747d31c85225c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 4b195b5bc531430b075228584131165f
      X-Memc-Age:
      - '25528'
      X-Memc-Expires:
      - '958'
      Etag:
      - W/"ff3598050ab5cdf1cc1045f0d7165e61"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/8MrWcsw5HqwRLvvNJS7doDq6xh0.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":18,"name":"Drama"},{"id":878,"name":"Science
        Fiction"},{"id":53,"name":"Thriller"},{"id":12,"name":"Adventure"}],"homepage":"","id":42470,"imdb_id":"tt0069946","original_language":"en","original_title":"The
        Day of the Dolphin","overview":"Dr. Jake Terrell, who has been training a
        pair of dolphins for many years, has had a breakthrough. He has taught his
        dolphins to speak and understand English, although they do have a limited
        vocabulary. When the dolphins are stolen, he discovers they''re to be used
        in an assassination attempt. Now he is in a race to discover who is the target,
        and where the dolphins are, before the attempt is carried out.","popularity":4.183,"poster_path":"/vLztqesi2Dj5Ny74u33GufVzKR6.jpg","production_companies":[{"id":494,"logo_path":"/ioc65azmsAeL1XQN4dFnrpdJoMO.png","name":"AVCO
        Embassy Pictures","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1973-12-19","revenue":0,"runtime":104,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Unwittingly,
        he trained a dolphin to kill the president of the United States.","title":"The
        Day of the Dolphin","video":false,"vote_average":5.9,"vote_count":42}'
  recorded_at: Fri, 13 Oct 2023 20:30:53 GMT
[...]
