---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=15b878ff07ee45035f04d59549b573b5&page=1&query=pulp%20fiction
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 9e5180f107430c0283e630b4a9d44138
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '25370'
      Etag:
      - W/"3d34ff7afef5a28f0325e3480b992bbf"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg","genre_ids":[53,80],"id":680,"original_language":"en","original_title":"Pulp
        Fiction","overview":"A burger-loving hit man, his philosophical partner, a
        drug-addled gangster''s moll and a washed-up boxer converge in this sprawling,
        comedic crime caper. Their adventures unfurl in three stories that ingeniously
        trip back and forth in time.","popularity":83.217,"poster_path":"/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg","release_date":"1994-09-10","title":"Pulp
        Fiction","video":false,"vote_average":8.489,"vote_count":25715},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":982376,"original_language":"en","original_title":"Pulp
        Fiction: The Facts","overview":"Behind the scenes of the legendary classic
        film by Quentin Tarantino.","popularity":3.489,"poster_path":"/ylcMrUkiAxAReHw8HNbVl0Bkdq5.jpg","release_date":"2002-08-20","title":"Pulp
        Fiction: The Facts","video":false,"vote_average":9.0,"vote_count":2},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":1104402,"original_language":"en","original_title":"Stealing
        Pulp Fiction","overview":"It follows Jonathan, Elizabeth and Steve as they
        try[...]
