---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/343611?api_key=tmdb_key&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 7209e7920a5695cd4e084e1843260285
      X-Memc-Age:
      - '16629'
      X-Memc-Expires:
      - '10001'
      Etag:
      - W/"498ba4b2f710b539c4467e2077c23cab"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/ww1eIoywghjoMzRLRIcbJLuKnJH.jpg","belongs_to_collection":{"id":403374,"name":"Jack
        Reacher Collection","poster_path":"/qtafXiYDUMKxzsssU41qWey5oiT.jpg","backdrop_path":"/vViRXFnSyGJ2fzMbcc5sqTKswcd.jpg"},"budget":60000000,"genres":[{"id":28,"name":"Action"},{"id":53,"name":"Thriller"}],"homepage":"","id":343611,"imdb_id":"tt3393786","original_language":"en","original_title":"Jack
        Reacher: Never Go Back","overview":"When Major Susan Turner is arrested for
        treason, ex-investigator Jack Reacher undertakes the challenging task to prove
        her innocence and ends up exposing a shocking conspiracy.","popularity":41.689,"poster_path":"/cOg3UT2NYWHZxp41vpxAnVCOC4M.jpg","production_companies":[{"id":82819,"logo_path":"/zlFa3VNua4hJyGEI4X2sqDrtEH9.png","name":"Skydance
        Media","origin_country":"US"},{"id":83645,"logo_path":null,"name":"Huahua
        Media","origin_country":"CN"},{"id":3407,"logo_path":"/iVMjKOFyRvm9PW45lW1wW6TSvnj.png","name":"Shanghai
        Film Group","origin_country":"CN"},{"id":21777,"logo_path":null,"name":"TC
        Productions","origin_country":"US"},{"id":4,"logo_path":"/gz66EfNoYPqHTYI4q9UEN4CbHRc.png","name":"Paramount","origin_country":"US"}],"production_countries":[{"iso_3166_1":"CN","name":"China"},{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2016-10-19","revenue":162146076,"runtime":118,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Justice
        is Coming.","title":"Jack Reacher: Never Go Back","video":false,"vote_average":5.93,"vote_count":4351}'
  recorded_at: Fri, 12 May 2023 20:29:05 GMT
recorded_with: VCR 6.1.0
