/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
background-color: #222;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 10px;
}

header {
  background-color: #333;
  padding: 8px;
}

label, input, a {
  margin: 8px 2px;
  font-size: 18px;
  padding: 8px;
  background-color: rgb(91, 91, 91);
  color: white;
  border-radius: 5px;
}

a, button, input[type="submit"] {
  display: inline-block;
  color: white;
  padding: 10px;
  margin: 3px;
  background-color: rgb(91, 91, 91);
  border-radius: 5px;
  text-decoration: none;
  border-style: outset;
}

h1 {
font-size: 40px;
margin: 0px 0px 5px 0px;
}

h2 {
font-size: 30px;
margin: 10px;
}

h3 {
margin: 5px 0px;
font-size: 25px;
}

h1, h2, h3 {
text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.card {
  background-size: 100%;
  width: 300px;
  height: 450px;
}

.card h4 {
  text-align: center;
  font-size: 25px;
  padding-top: 30px;
}

.card p {
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
}
