.headerText {
  display: flex;
  padding: 10px;
  font-size: 20px;
  color: black;
  background-color: white;
  align-items: center;
  width: auto;
  height: 30px;
  justify-content: center;
  margin-bottom: 50px;
}