<h2> Discover Movies </h2>

<section id='20_top_search'>
  <%= button_to "Find Top Rated Movies", movie_results_path(@user), method: :get, params: { q: 'top%20rated' } %>
</section>
<br>
<section id='keyword_search'>
  <%= form_with url: movie_results_path(@user), method: :get do |f| %>
    <%= f.search_field :q, placeholder: 'Search by Title' %>
    <%= f.submit "Find Movies" %>
  <% end %>
</section>