<h3>Discover Movies</h3>

<%= button_to "Find Top Rated Movies", movies_path, method: :get, params: { q: 'top rated' } %>

<%= form_with url: movies_path, method: :get do |form| %>
  <%= form.search_field :q %>
  <%= form.submit "Find Movies" %>
<% end %>

