<h1> Viewing Party Lite 7 </h1>

<% if current_user %>
  <%= button_to "Log Out", login_path, method: :delete %>
<% else %>

<%= button_to "Log In", login_path, method: :get %><br>
<%= button_to "Register a New User", "/register", method: :get %> 
<% end %>
<h4> Existing Users </h4>
  <ul>
    <% @users.each do |user| %>
      <li><%= user.name %></li>
  <% end %>
  </ul>