<h1> Viewing Party Lite 7 </h1>

<%= button_to "Log In", login_path, method: :get %><br>
<%= button_to "Register a New User", "/register", method: :get %> 
<h4> Existing Users </h4>
  <ul>
    <% @users.each do |user| %>
      <li><%= user.name %></li>
  <% end %>
  </ul>