---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=e385578ab01fe734e045aab1091acf8c&include_adult=false&language=en-US&page=1&query=Shawshank%20Redemption
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - aca8d80bc4dbe80bed23d9cb975e283d
      X-Memc-Age:
      - '8927'
      X-Memc-Expires:
      - '18488'
      Etag:
      - W/"e8e6de5989a78686c1ba7534d7128692"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg","genre_ids":[18,80],"id":278,"original_language":"en","original_title":"The
        Shawshank Redemption","overview":"Framed in the 1940s for the double murder
        of his wife and her lover, upstanding banker Andy Dufresne begins a new life
        at the Shawshank prison, where he puts his accounting skills to work for an
        amoral warden. During his long stretch in prison, Dufresne comes to be admired
        by the other inmates -- including an older prisoner named Red -- for his integrity
        and unquenchable sense of hope.","popularity":88.283,"poster_path":"/lyQBXzOQSuE59IsHyhrp0qIiPAz.jpg","release_date":"1994-09-23","title":"The
        Shawshank Redemption","video":false,"vote_average":8.703,"vote_count":24705},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":897459,"original_language":"en","original_title":"Hope
        Springs Eternal: A Look Back at The Shawshank Redemption","overview":"Documentary
        about the movie.","popularity":0.6,"poster_path":"/v4wcS8XwUn5zl57rYRMzMnKahmt.jpg","release_date":"2004-06-25","title":"Hope
        Springs Eternal: A Look Back at The Shawshank Redemption","video":false,"vote_average":7.7,"vote_count":3}],"total_pages":1,"total_results":2}'
  recorded_at: Wed, 11 Oct 2023 01:11:35 GMT
recorded_with: VCR 6.2.0
