---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=d2198b40a5c82882520e0f6673eac605&query
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0ad04c4a8f86817194f97d0815bf2d05
      X-Memc-Age:
      - '14975'
      X-Memc-Expires:
      - '12812'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Tue, 04 Apr 2023 15:20:24 GMT
recorded_with: VCR 6.1.0
