---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=DONT_SHARE_MY_SECRET_KEY&include_adult=false&language=en-US&page=1&query=Lock,%20Stock%20and%20Two%20Smoking%20Barrels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 129a0b8f8ce1c8689149f00e914aa3d0
      X-Memc-Age:
      - '20299'
      X-Memc-Expires:
      - '6367'
      Etag:
      - W/"ed0e1a0ced3d27ff0e69b80ef660eb5a"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/cXQH2u7wUIX1eoIdEj51kHXoWhX.jpg","genre_ids":[35,80],"id":100,"original_language":"en","original_title":"Lock,
        Stock and Two Smoking Barrels","overview":"A card shark and his unwillingly-enlisted
        friends need to make a lot of cash quick after losing a sketchy poker match.
        To do this they decide to pull a heist on a small-time gang who happen to
        be operating out of the flat next door.","popularity":9.361,"poster_path":"/8kSerJrhrJWKLk1LViesGcnrUPE.jpg","release_date":"1998-08-28","title":"Lock,
        Stock and Two Smoking Barrels","video":false,"vote_average":8.133,"vote_count":5902},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":660896,"original_language":"en","original_title":"The
        Making of Lock, Stock, and Two Smoking Barrels","overview":"Program about
        the film ''Lock Stock and Two Smoking Barrels'' directed and written by Guy
        Ritchie. Interviews were conducted with Nick Moran, Jason Flemyng, Dexter
        Fletcher and Jason Statham.","popularity":0.6,"poster_path":null,"release_date":"2005-01-01","title":"The
        Making of Lock, Stock, and Two Smoking Barrels","video":false,"vote_average":0.0,"vote_count":0}],"total_pages":1,"total_results":2}'
  recorded_at: Thu, 11 May 2023 00:15:29 GMT
recorded_with: VCR 6.1.0
