---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=f7288e89c67ddeca054747d31c85225c&query=day%20dolphin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - b68a3b49b3e729c730bd1cd601e2d306
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '24915'
      Etag:
      - W/"deeb145f8752b2ed5289bbeeef614af1"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/8MrWcsw5HqwRLvvNJS7doDq6xh0.jpg","genre_ids":[18,878,53,12],"id":42470,"original_language":"en","original_title":"The
        Day of the Dolphin","overview":"Dr. Jake Terrell, who has been training a
        pair of dolphins for many years, has had a breakthrough. He has taught his
        dolphins to speak and understand English, although they do have a limited
        vocabulary. When the dolphins are stolen, he discovers they''re to be used
        in an assassination attempt. Now he is in a race to discover who is the target,
        and where the dolphins are, before the attempt is carried out.","popularity":2.988,"poster_path":"/vLztqesi2Dj5Ny74u33GufVzKR6.jpg","release_date":"1973-12-19","title":"The
        Day of the Dolphin","video":false,"vote_average":5.9,"vote_count":42}],"total_pages":1,"total_results":1}'
  recorded_at: Thu, 12 Oct 2023 23:30:06 GMT
recorded_with: VCR 6.2.0
