<%= link_to 'Go Home', "/" %>

<div class="header">
  <h1>Viewing Party</h1>
</div>



<style>
  .header {
    background-color: #6d8092;
    padding: 20px;
    text-align: center;
    font-family: "Monaco", monospace; 
  }

  .sectionheader {
    text-align: center;
    font-family: "Monaco", monospace;
    font-weight: bold;
    font-size: 20px; 
  }
  .sectionheader a {
    text-decoration: none; /* Remove underline for links */
  }

</style>